<svg:g class="column" xmlns:svg="http://www.w3.org/2000/svg">
  <ng-container *ngFor="let cell of columnCells; index as i">
    <rect [attr.fill]="cell.color"
          [attr.height]="cell.height" [attr.stroke-width]="0.5" [attr.stroke]="cell.color" [attr.width]="width"
          [attr.y]="cell.y"></rect>
  </ng-container>

  <ng-container *ngFor="let cell of columnCells; index as i">
    <rect *ngIf="cell.hasMissing" [attr.fill]="'#050505'" [attr.height]="cell.height" [attr.width]="width * 0.4"
          [attr.x]="width*0.3" [attr.y]="cell.y"></rect>
  </ng-container>
</svg:g>
