<svg>
  <rect
    class="background"
    [attr.width]="fullWidth"
    [attr.height]="fullHeight"
  ></rect>
  <g [attr.transform]="'translate(' + margin.left + ',' + margin.top + ')'">
    <ng-container *ngIf="xScale && yScale && innerWidth > 0 && innerHeight > 0">
      <g *ngFor="let item of diagnosisData; index as i; trackBy: diagnosisId">
        <rect
          [attr.x]="xScale(item.dependentVariable)"
          [attr.width]="xScale.bandwidth()"
          [attr.y]="yScale(item.missingVariable)"
          [attr.height]="yScale.bandwidth()"
          [attr.fill]="colorScale(item.factor)"
        ></rect>
      </g>
    </ng-container>
  </g>
</svg>
