<svg>
  <rect
    class="background"
    [attr.width]="fullWidth"
    [attr.height]="fullHeight"
  ></rect>
  <g [attr.transform]="'translate(' + margin.left + ',' + margin.top + ')'">
    <ng-container *ngIf="xScale && yScale && innerWidth > 0 && innerHeight > 0">
      <ng-container *ngFor="let key of keys; index as k; trackBy:keyID">
        <ng-container *ngFor="let mKey of keysWithMissingValues; index as k; trackBy:keyWithMissingValuesID">
          <g [attr.transform]="'translate('+xScale(key)+','+yScale(mKey)+')'">
            <g app-overview-cell [width]="xScale.bandwidth()" [height]="yScale.bandwidth()"></g>
          </g>


        </ng-container>

      </ng-container>
    </ng-container>
  </g>
</svg>
